// @import '/clientApp/src/styles/fonts/fonts.css';
$colorBackgroundWhite: #F6F8FA;
$colorAccent: #1F883D;
$fontColorPrimary: #000000;
$fontColorSecondary: #AFADB5;
$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;