@import "../../styles/variables.scss";

:root {
    min-height: 100vh;
}
.repoPage {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-xl, 24px);

    width: 1200px;
    margin-top: 40px;

    background-color: $colorBackgroundWhite;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: $space-s;
    text-align: start;

    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 0;
    }
}

.infoContainer {
    display: flex;
    width: 1093px;
    height: 367px;
    flex-direction: column;
    align-items: flex-start;
    gap: $space-l;
    .activity {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $space-xxs;
        p {
            margin: 0;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 18px;
            color: #afadb5;
        }
    }
    .topics {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: $space-xxs;
        .topic {
            display: flex;
            padding: 4px 16px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 20px;
            background: #daedff;
            color: #06c;
            text-align: center;
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .topicNone{
            color: rgb(204, 41, 0);
            background: #dadada;
        }
    }
}
.readme {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    .readmeTitle {
        padding: var(--space-m, 16px);
        align-items: flex-start;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: $space-m;
    }
    .readmeContent {
        overflow-x: auto;
        &::-webkit-scrollbar {
            width: 0;
        }
        width: 80%;
        height: 610px;
        display: flex;
        padding: 32px;
        align-items: flex-start;
        gap: 10px;
        .readmeText {
            white-space: pre-wrap;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
        }
    }
}
